<?xml version="1.0" encoding="UTF-8"?>

<ruleset name="YamlExpander">

    <description>Yaml Expander PHP CodeSniffer configuration.</description>

    <arg name="extensions" value="php"/>

    <arg name="colors"/>
    <arg name="cache" value="build/.phpcs-cache"/>
    <arg name="parallel" value="10"/>

    <file>.</file>

    <!-- Danger! Exclude patterns apply to the full file path, including parent directories of the current repository. -->
    <!-- Don't exclude common directory names like `build`, which will fail on Travis CI because of /home/travis/build/acquia/<project>. -->
    <!-- @see https://github.com/squizlabs/PHP_CodeSniffer/issues/981 -->
    <exclude-pattern>var/</exclude-pattern>
    <exclude-pattern>vendor/*</exclude-pattern>
    <exclude-pattern>tests/resources/*</exclude-pattern>

    <rule ref="PSR2">
        <exclude name="Generic.Files.LineLength"/>
    </rule>

</ruleset>